img {
    display: block;
    margin: 0 auto;
}

li  {
    list-style: none;
}

h1, h2, p, ul, li {
    text-align: center;
}

h1 {
    border: thick double rgb(214, 63, 13);
    color: rgb(214, 63, 13);
    margin: 20px 200px 20px 200px;
    background-color: rgb(62, 60, 60);}

h2 {
    border: thick double rgb(214, 63, 13);
    color: rgb(214, 63, 13);
    margin: 0 200px 0 200px;
    background-color: rgb(62, 60, 60);

}