* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(191, 169, 29);
}

ul {
    list-style: none;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
}